/* default css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}
/* default css end */

/* block-one css start */
.background-color {
  background-color: rgb(240, 240, 240);
}
.block-one {
  display: flex;
}
.backgroundfont-relative {
  position: relative;
  width: 50%;
}
.backgroundfont-relative i {
  position: absolute;
  top: 50vh;
  color: rgba(200, 0, 0, 0.5);
  font-size: 10vw;
}
.backgroundfont-relative h1 {
  position: absolute;
  top: 18vh;
  color: orangered;
  font-size: 2.5vw;
}
.backgroundfont-relative p {
  position: absolute;
  top: 30vh;
  color: rgb(68, 68, 68);
  font-size: 1.2vw;
  line-height: 2.5vw;
  text-align: justify;
  padding-right: 60px;
}

.background-relative {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/2.jpg);
  background-position: center center;
  background-size: cover;
  width: 50%;
  height: 90vh;
  position: relative;
}
.background-relative div {
  text-align: center;
  position: absolute;
  bottom: 2vh;
}
.background-relative div img {
  max-width: 25%;
  height: 28vh;
  margin: 0 0.8vw;
  border: 4px solid #fff;
  transition: all 1s;
}
.background-relative div img:hover {
  transform: scale(1.2,1.1);
}

/* block-one css end */

/* block-two css start */
.margin-10 {
  margin-bottom: 10vh;
}
.block-two .header {
  text-align: center;
  font-size: 3.5vw;
  margin: 20vh 0vw;
}
.block-two .header h1 {
  text-transform: capitalize;
}
.content {
  display: flex;
  text-transform: capitalize;
}
.content .card {
  max-width: 30%;
  margin: 0px 1.5vw;
  background-color: rgb(240, 240, 240);
  padding: 1.5vw 1.5vw 0vw 1.5vw;
}
.content .card h2 {
  font-size: 1.5vw;
  margin-bottom: 5vh;
}
.content .card img {
  width: 100%;
  max-width: 100%;
  height: 28vh;
  border-radius: 10px;
  transition: all 1s;
}
.content .card img:hover{ 
  transform: scale(1.1,1.1);
}

.content .card .author {
  display: flex;
  height: 13vh;
}
.content .card .author .image {
  width: 20%;
  height: 13vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}
.content .card .author .image img {
  width: 80%;
  max-width: 80%;
  height: auto;
  border-radius: 50%;
}
.content .card .author .details {
  width: 80%;
  height: 13vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: grey;
}
/* block-two css end */